# Entorno
NODE_ENV=development

# Puerto del servidor
PORT=3000

# Base de datos MongoDB
MONGO_URI=mongodb://localhost:27017/deliver-eats

# JWT
JWT_SECRET=deliver-eats-secret-key-change-this-in-production
JWT_EXPIRE=7d

# CORS - Permitir origen del frontend
CORS_ORIGIN=http://localhost:4200
